@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

body {
    font-family: OpenSans;
    color: #4a4a4a;
    hyphens: auto;
}

nav {
    background-color: white;
    height: 70px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    padding: 10px;
}

@media (min-width: 768px) {
    nav {
         padding: 50px 10px; 
    }
}

    .logo {
        width: 200px;
    }
    
    @media (min-width: 768px) {
        .logo {
            position: relative;
            top: -32px;
            width: 250px; 
        }
    }

    .burger-menu {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 10px;
        right: 0;
    }
    
    @media (min-width: 768px) {
        .burger-menu {
             display: none;   
        }
    }
        
        .burger-menu-line::before {
            content: "";
            border-bottom: solid 2px black;
            position: absolute;
            left: 20%;
            right: 20%;
            transition: all 0.2s ease-out;
        }
        
            .burger-menu-line-1::before {
                top: 30%; 
            }
                .burger-menu.opened .burger-menu-line-1::before {
                    transform:  translateY(10px) rotate(45deg);
                }
            
            .burger-menu-line-2::before {
                top: 50%;
                opacity: 1;
            }
                .burger-menu.opened .burger-menu-line-2::before {
                    opacity: 0;
                }
            
            .burger-menu-line-3::before {
                top: 70%;
            }
                .burger-menu.opened .burger-menu-line-3::before {
                    transform:  translateY(-10px) rotate(-45deg);
                }
    
    
    .nav-menu {
        list-style: none;
        text-align: right;
        display: none;
        position: fixed;
        right: 0;
        top: 50px;
        padding: 0;
    }
    
    @media (min-width: 768px) {
        .nav-menu {
             display: flex;   
             top: 25px;
             text-align: left;
             left: 300px;
             right: auto;
        }
    }

        .nav-menu a {
            color: #4a4a4a;
            background-color: white;
            padding: 0 5px;
        }
    
        .nav-menu a:hover {
            color: #1086ab;
            text-decoration: none !important;
        }
        
        .nav-menu>.child {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 26px;
        }
        
        .nav-menu>.child ul {
            list-style: none;
            text-transform: none;
            font-size: 15px;
            padding-left: 0;
        }
        /*
              */

        @media (min-width: 768px) {
            .nav-menu>.child ul {
                /*position: absolute;
                top: 30px;
                left: 0;*/
            }
    
            .nav-menu>.child .child a{
                width: 100%;
                display: inline-block;
            }  
            
            .nav-menu>.child:not(:hover) .child {
                display: none;
            }
        }
    

main {
    margin-top: 50px;
}

footer.jumbotron {
    background-color: #1086ab;
    color: white;
    margin: 0;
}

footer h2 {
    text-transform: uppercase;
    font-weight: bold;
}

footer a, footer a:hover {
    color: white;
}