.parallax {
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
}

.parallax h1 {
    color: white;
    text-transform: uppercase;
    position: absolute;
    font-size: 50px;
    bottom: 50px;
}

.headline h2 {
    color: #1086ab;
    text-transform: uppercase;
}

.split-paragraph p {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}