{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_messages %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--<style type="text/css">
            nav {
                padding-left: 0;
            }
            nav li {
                display: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
        </style>-->
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "styles/base.css" %}">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="{% static "images/logo_deutsche_tiefbauberatung.jpg" %}" width="150" height="50" alt="Deutsche Tiefbauberatung">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-menu">
              {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0" action="">
              <input class="form-control mr-sm-2" type="search" placeholder="Suche" aria-label="Search" name="suche">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fas fa-search"></span></button>
            </form>
            -->
          </div>

        </nav>
        <main>
          {% block content %}{% endblock content %}
        </main>
        <footer class="jumbotron jumbotron-fluid">
          <div class="container">
              <h2>Kontakt</h2>
              <p><strong>Deutsche Tiefbauberatung</strong></p>
              <div class="row">
                  <div class="col-xs-12 col-sm-4">
                      <ul class="list-unstyled">
                          <li>Dipl.-Ing. (FH) Joachim Hamann Beratender Ingenieur für Straßen- und Tiefbau</li>
                      </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <ul class="list-unstyled">
                          <li>Albersweiler Straße 85/87</li>
                          <li>15366 Neuenhagen bei Berlin</li>
                      </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <ul class="list-unstyled">
                          <li>Tel.: 03342-249 989 -0</li>
                          <li>Fax: 03342-249 989 -5</li>
                          <li>info@deutsche-tiefbauberatung.de</li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
      {% bootstrap_javascript jquery='full' %}
      {% render_block "js" %}
    </body>
</html>
