{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <title>{% block title %}Deutsche Tiefbauberatung{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/cms_plugins.css' %}">
        <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo-deutsche-tiefbauberatung.svg' %}" width="150" height="50" alt="Logo Deutsche Tiefbauberatung">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-menu">
              {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
          </div>
        </nav>
        <main>
          {% block content %}{% endblock content %}
        </main>
        <footer class="jumbotron jumbotron-fluid">
          {% include 'footer.html' %}
      </footer>
      <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
