{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <title>{% block title %}Deutsche Tiefbauberatung{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/cms_plugins.css' %}">
        <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav>
          <a href="/">
            <img class="logo" src="{% static 'images/logo-deutsche-tiefbauberatung.svg' %}" alt="Logo Deutsche Tiefbauberatung">
          </a>
          <a class="burger-menu">
            <span class="burger-menu-line burger-menu-line-1"></span>
            <span class="burger-menu-line burger-menu-line-2"></span>
            <span class="burger-menu-line burger-menu-line-3"></span>
          </a>
          <ul class="nav-menu">
            {% show_menu 0 100 100 100 "menu.html" %}
          </ul>
        </nav>
        <main>
          {% block content %}{% endblock content %}
        </main>
        <footer class="jumbotron jumbotron-fluid">
          {% include 'footer.html' %}
      </footer>
      <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function () {
          $( ".burger-menu, .nav-menu" ).click(function() {
              $( ".burger-menu" ).toggleClass( "opened" );
              $( ".nav-menu" ).toggle("slide", {direction:"right"});
          });
        });
      </script>
    </body>
</html>
