<div class="container">
    <h2>Kontakt</h2>
    <p><strong>Deutsche Tiefbauberatung</strong></p>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <li>Dipl.-Ing. (FH) Joachim Hamann</li>
                <li>Beratender Ingenieur</li>
                <li>für Straßen- und Tiefbau</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <li>Albersweiler Straße 85/87</li>
                <li>15366 Neuenhagen bei Berlin</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <li>Tel.: <a href="tel:+4933422499890"></a>03342-249 989 -0</li>
                <li>Fax: 03342-249 989 -5</li>
                <li><a href= "mailto:info@deutsche-tiefbauberatung.de">info@deutsche-tiefbauberatung.de</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <p>&copy; 2020	Deutsche Tiefbauberatung. Alle Rechte vorbehalten.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <a href="#">Impressum</p>
        </div>
    </div>
</div>