{% extends "base.html" %}

{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_messages %}

{% block content %}

  <section id="kompetenzfelder-1">
      <header class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>
            {% placeholder "Kompetenzfelder Ueberschrift" %}
          </h1>
        </div>
      </header>
      
      <div class="container">
          {% placeholder "Kompetenzfelder Inhalt" %}
      </div>

  </section>

  <section id="erhaltungskonzepte">
      <header class="jumbotron jumbotron-fluid">
        <div class="container">
          {% placeholder "Teamueberschrift" %}
        </div>
      </header>
      {% placeholder "Teamcontent" %}
  </section>

  <section id="budgetoptimierung">
      <header class="jumbotron jumbotron-fluid">
        <div class="container">
          {% placeholder "Mitgliedschaftenueberschrift" %}
        </div>
      </header>
      {% placeholder "mitgliedschaftencontent" %}
  </section>

{% endblock %}
